extends ../../layouts/default.pug

block main
  h1(class="mb-4") #{pageTitle}

  table.table.table-hover.table-sm
    thead
      tr
        th STT
        th Hình ảnh
        th Tiêu đề
        th Giá
        th Trạng thái
        th Hành động

    tbody
      tr 
        td 1
        td
          img(
            src="https://i.dummyjson.com/data/products/1/thumbnail.jpg"
            alt="Sản phẩm 1"
            width="100px"
            height="auto"
          )
        td Sản phẩm 1
        td 100$
        td
          a(href="#" class="badge badge-success") Hoạt động 
        td
          button(class="btn btn-warning btn-sm") Sửa
          button(class="btn btn-danger btn-sm ml-1") Xóa

      tr 
        td 2
        td
          img(
            src="https://i.dummyjson.com/data/products/1/thumbnail.jpg"
            alt="Sản phẩm 2"
            width="100px"
            height="auto"
          )
        td Sản phẩm 2
        td 150$
        td
          a(href="#" class="badge badge-danger") Dừng hoạt động
        td
          button(class="btn btn-warning btn-sm") Sửa
          button(class="btn btn-danger btn-sm ml-1") Xóa